body {
    margin: 0;
    background-color: rosybrown;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

#navbar { 
    position: relative;
    overflow: hidden;
    background-color: rgb(136, 96, 96);

        a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            font-size: 16px;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        #logo {
            text-align: center;
            font-family: "Lucida Handwriting", cursive;
            font-style: bold;
            text-decoration: none;
        }
        
        #pages {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            position: absolute;    
            padding-left: 0px;
            height: 40px;
            width: 100%;

            li a.active {
                background-color: rgb(94, 70, 70);
                height:40px;
            }

            li a:hover {
                transition-duration: 0.4s;
                background-color: rgb(116, 89, 89);
                height:40px;
            }
        }
}

h1 {
    padding-top: 1%;
    text-align: center;
}

h2 {
    font-family: "Lucida Handwriting", cursive;
}

.divider {
    border-top: 8px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 20%;
}

#main {
    max-width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .break {
        flex-basis: 100%;
        height: 0;
      }
    
    > div {
        width: 360px;
        //background-color: aqua;
        text-align: center;
        img {
            width: 100%;
        }
        //line-height: 75px;
       // font-size: 30px;
    }

}

/* mobile */
@media screen and (max-width: 768px) {

    .flex-container-center {
        flex-direction: column;
        display: flex;
        text-align: center;
          
        > div {
            #profPic{
                padding-top: 10px;
                border-radius: 50%;
            }
            #intro{
                font-size: 20px;
            }

            p{
                vertical-align: middle;
                font-size: 20px;
                .icon{
                    width: 40px;
                }
            }

            img {
                width: 80%;
            }
        }
    }

    #pages {
        right: -70px;
    }

    
}

/*widescreen*/
@media screen and (min-width: 768px) {
    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
        .break {
            flex-basis: 100%;
            height: 0;
          }
        
        > div {
            margin: 10px;
            width: 560px;
            //background-color: aqua;
            text-align: center;
            iframe {
                width: 560px;
            }
            //line-height: 75px;
           // font-size: 30px;
        }
    
    }

    .flex-container-center {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
    
        > div {

            
            #profPic{
                padding-top: 10px;
                border-radius: 50%;
                width: 400px;
            }
            #intro{
                font-size: 18px;
            }

            p{
                vertical-align: middle;
                font-size: 20px;
                .icon{
                    width: 40px;
                }
            }
            img {
                width: 400px;
            }
        }
    }
    
}



