body {
    margin: 0;
}

#navbar { 
    position: relative;
    overflow: hidden;
    background-color: tan;

        a {
            float: left;
            color: #f2f2f2;
            text-align: center;
            font-size: 16px;
            padding: 14px 16px;
            text-decoration: none;
        }
        
        #logo {
            text-align: center;
            font-family: "Lucida Handwriting", cursive;
            font-style: bold;
            text-decoration: none;
        }
        
        #pages {
            font-family: 'Courier New', Courier, monospace;
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            position: absolute;    
            padding-left: 0px;
            height: 40px;
            width: 100%;

            li a.active {
                background-color: rgb(150, 105, 64);
                height:40px
            }

            li a:hover {
                transition-duration: 0.4s;
                background-color: rgb(131, 80, 32);
                height:40px
            }
        }
}

h1 {
    padding-top: 1%;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color:rgb(83, 42, 4)
}

.divider {
    border-top: 8px solid rgb(83, 42, 4);
    border-radius: 5px;
    width: 20%
}

#main {
    max-width: 100%;
    height: 30%;
    object-fit: contain;
    overflow: hidden;
    margin-top: -15%;
}

/* mobile */
@media screen and (max-width: 600px) {

    #pages {
        right: -70px;
    }
  }

