$baseColor: rosybrown;
$hoverColor: rgb(116, 89, 89);
$activeColor: rgb(94, 70, 70);

body {
    margin: 0;
    background-color: rosybrown;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 100px;
}

table {
    margin-top: 10px;
    width: 90%;
}

th {
    background-color: rgb(163, 106, 106);
}
td {
    background-color: rgb(121, 78, 88);
}
th, td {
    padding: 10px;
    border: 0px;
}

.footer {
    background-color: rgb(136, 96, 96);
    text-align: center;
    padding: 15px;
    margin-top: 150px;
}

#navbar { 
    position: relative;
    overflow: hidden;
    background-color: rgb(136, 96, 96);

        a {
            float: left;
            color: white;
            text-align: center;
            font-size: 14px;
            padding: 14px 10px;
            text-decoration: none;
        }
        
        #logo {
            text-align: center;
            font-family: "Lucida Handwriting", cursive;
            font-style: bold;
            text-decoration: none;
        }
        
        #pages {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            position: absolute;    
            padding-left: 0px;
            height: 40px;
            width: 100%;


            li a.active {
                background-color: $activeColor;
                height:40px;
            }

            li a:hover {
                transition-duration: 0.4s;
                background-color: $hoverColor;
                height:40px;
            }
        }
}

h1 {
    padding-top: 1%;
    text-align: center;
}

h2 {
    font-family: "Lucida Handwriting", cursive;
}

.divider {
    border-top: 8px solid rgb(255, 255, 255);
    border-radius: 5px;
    width: 20%;
}

#main {
    max-width: 100%;
    object-fit: contain;
    overflow: hidden;
}

.portList {
    ul {
        margin: 0px;
        padding-left: 10%;
        list-style-type: none;

        a {
            text-decoration: none;
        }

        h3,p {
            color: white;
        }

        h3 {
            text-align: center;
            font-size: 25px;
        }

        li:hover {
            transition-duration: 0.4s;
            background-color: $hoverColor;
        }

        li img {
            width: 100%;
        }

        li{
            background-color:rgb(148, 110, 110);
            width: 90%;
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        }
    }
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .break {
        flex-basis: 100%;
        height: 0;
      }
    
    > div {
        width: 360px;
        text-align: center;
        img {
            width: 100%;
        }
    }

}

/* mobile */
@media screen and (max-width: 768px) {
    #pages {
        right: -70px;
    }
    .flex-container-center {
        flex-direction: column;
        display: flex;
        text-align: center;
          
        > div {
            #profPic{
                padding-top: 10px;
                border-radius: 50%;
            }
            #intro{
                font-size: 20px;
            }

            p{
                vertical-align: middle;
                font-size: 20px;
                .icon{
                    width: 40px;
                }
            }

            img {
                width: 80%;
            }
        }
    }
}

/*widescreen*/
@media screen and (min-width: 768px) {
    #navbar {
        a {
            font-size: 16px;
            padding: 14px 16px;
        }
    }
    #pages {
        right: 0;
    }
    th, td {
        padding: 20px;
    }
    .portList {
        ul {

            
            li img {
                padding: 8px;
                float: left;
                width: 30%;
            }
    
            li{
                margin-top: 10px;
                width: 90%;
                overflow: auto;
            }

            p {
                font-size: 20px;
            }
    
            
        }
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    
        .break {
            flex-basis: 100%;
            height: 0;
          }
        
        > div {
            margin: 10px;
            width: 560px;
            text-align: center;
            iframe {
                width: 560px;
            }
        }
    
    }

    .flex-container-center {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    
        > div {
            width: 500px;
            #profPic{
                padding-top: 10px;
                border-radius: 50%;
            }
            #intro{
                font-size: 18px;
            }

            p{
                text-align: center;
                font-size: 20px;
                
                .icon{
                    width: 40px;
                }
            }
            img {
                width: 400px;
            }
        }
    }
    
}



